#include <winver.h>
#define STR_HELPER(x) #x
#define STR(x) STR_HELPER(x)

MINESWEEPERRUSH_ICON ICON "MineSweeperRush.ico"

VS_VERSION_INFO VERSIONINFO
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "ax_pokl\0"
            VALUE "FileDescription", "MineSweeper Rush\0"
            VALUE "FileVersion", "Version " STR(VERSION_YMD) " (Steam)\0"
            VALUE "InternalName", "MineSweeperRush\0"
            VALUE "LegalCopyright", "Made by ax_pokl Licensed under GPL-3.0\0"
            VALUE "OriginalFilename", "MineSweeperRush.exe\0"
            VALUE "ProductName", "MineSweeper Rush\0"
            VALUE "ProductVersion", "Version " STR(VERSION_YMD) " (Steam)\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x04B0
    END
END
